@import url('https://fonts.googleapis.com/css?family=Merriweather:300, 400');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- */

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6em;
  border-top: 5px solid #721C49;
  border-bottom: 5px solid #721C49;
}

h1 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Source Sans Pro"
}

a:link {
    color: #9B1863;
}

a:hover, a:active {
  color: #9B1863;
  text-decoration: none;
}

a:visited {
  color: #721C49;
}

p {
  margin-top: 0.75em;
}


.container {
  margin: auto;
  max-width: 44rem;
  padding: 2em;
}

.logo {
  margin: 3em 0;
}

.logo img {
  width: 12em;
}


.social {
    margin: .7em 1em 0 0;
    padding: 0
}

.social__icon {
    height: 20px;
    width: 20px;
    transform: scale(.8);
    margin-right: .5em;
    vertical-align: text-top;
    margin-top: 2px;
    fill: #747373
}

.social__label {
    display: none;
}

.social__link:hover {
    text-decoration: none;
}

.social__link:hover .social__icon {
    fill: #323232;
}

section {
  margin-top: 4em;
}

footer {
  font-size: 0.7em;
  background-color: rgb(30,30,30);
  padding: 2em;
}

section.intro {
}


.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, [col] 100px ) ;
  grid-template-rows: repeat(3, [row] auto  );
  margin: auto;
  max-width: 44rem;
  padding: 2em;
}
